// VIDEO CAROUSEL
#video-carousel {
  position: relative;
  
  // Item
  .item {}

  .owl-stage-outer {
    .owl-nav {

      // Nav Buttons
      button {
        color: $color-black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.owl-prev {
          left: rems(15);
        }

        &.owl-next {
          right: rems(15);
        }

        .arrow {
          i {
            font-size: rems(43);

            @include hover-focus {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

// MUSIC CAROUSEL
#music-carousel {
  position: relative;
  
  // Item
  .item {
    .cover {
      img {}
    }
    .info {
      .release {}
      .title {}
      .btn {}
    }
  }

  .owl-stage-outer {
    .owl-nav {

      // Nav Buttons
      button {
        color: $color-black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.owl-prev {
          left: rems(15);
        }

        &.owl-next {
          right: rems(15);
        }

        .arrow {
          i {
            font-size: rems(43);

            @include hover-focus {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}