nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: rems(10) 0;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      a {}
    }
  }

  ul#nav-menu {
    gap: rems(30);

    li {
      a {}
    }
  }

  h1#logo {
    a {
      img {}
    }
  }

  ul.social {
    gap: rems(20);
  }


}