$('.countdown').html(
'<div class="time-block"><span class="days10">0</span><span class="days1">0</span><span class="label">Days</span></div>'
+
'<div class="divider"></div>' +
'<div class="time-block"><span class="hours10">0</span><span class="hours1">0</span><span class="label">Hours</span>
</div>' +
'<div class="divider"></div>' +
'<div class="time-block"><span class="minutes10">0</span><span class="minutes1">0</span><span
    class="label">Minutes</span></div>' +
'<div class="divider"></div>' +
'<div class="time-block"><span class="seconds10">0</span><span class="seconds1">0</span><span
    class="label">Seconds</span></div>'
);