ul.social {
  display: flex;
  align-items: center;
  list-style: none;
  gap: rems(12);

  @media screen and (max-width: 1100px) {
    display: block;
  }

  li {
    a {
      display: block;
      max-width: rems(20);
      transition: all .3s ease-in-out;

      @include hover-focus {
        transform: scale(1.2);
      }

      @media screen and (max-width: 1100px) {
        width: rems(45);
        height: rems(45);
      }
    }
  }
}