
.popup {
	background-color: $black;
	padding: rems(50) rems(80);
	max-width: rems(400);
	color: $white;
	margin: 0 auto;
	position: relative;
	font-size: rems(22);
	text-align: center;
	background: linear-gradient(180deg, #BE2D3C 0%, #2B070B 100%);
	background-color: transparent;
	background-position: center;
	background-size: cover;

	.mfp-close {
		color: $white;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rems(30);

		p {
			font-size: rems(22);
			font-weight: bold;
			text-align: center;
			font-family: $primary-font;

			span {}
		}

		.inputs-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		label {
			display: block;
		}

		input {
			border: none;
			margin-bottom: rems(35);
		}

		select {
			width: 100%;
			margin-bottom: rems(35);
		}

		option {
			width: 100%;
		}
	}
}